.containerx{
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(65, 65, 65);
    margin: 15px auto;
    width: 62rem;
    text-align: center;

}

.variable{
    padding: 15px;
    margin: 15px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(104, 104, 104);
    width: 15rem;
}

.temperatures{
    display: flex;
    justify-content: space-around;
}

.container-badges{
    display: flex;
    justify-content: space-around;
}

.badge{
    font-size: medium;
    padding: 0.5rem;
}