.animetion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */

    border-bottom: 1px solid rgb(173, 173, 173);
    margin-bottom: 0.5rem;
}

#container{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px; */
    
    /* border: 1px solid black; */
    margin: 1rem 0;
    padding: 0.5rem;
}

#field{
    border: 1px solid black;
    width: 750px;
    height: 550px;
    border-radius: 5px;
    background-image: url(/img/field.jpg);
    background-size: 100%;
    background-position: center;
    /* margin: 10px auto; */
}

#ball{
    border: 1px solid black;
    position: relative;
    /* top:calc(50% - 40px); */
    /* left: calc(750px - 80px - 2px); */
    width: 80px;
    height: 80px;
    /* background-color: white; */
    /* background-image: url(./img/basketball.png); */
    background-size: 150%;
    background-position: center;
    border-radius: 50%;
    /* background-repeat: no-repeat; */
    /* transform: rotate(0deg); */
}

#menu{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    width: 750px;
    margin: 10px auto;
    /* border: 1px solid black; */

}

#menuR button{
    margin-left: 5px;
    margin-right: 0;
}